html{
    font-family:"Verdana";
    background-color: #45526C;
}

body{
  width: 900px;
  margin: 0 auto;
  background-color: #F8A488;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1{
    font-size: 67px;
    text-align: center;
    margin:15px;
    color:#51c4d3;
    text-shadow: 2px 1px 2px black;
}
h2{
    font-size: 36px;
    text-align: center;
    margin:15px;
    color:#00539F;
    text-shadow: 2px 1px 2px black;
}

img{
    display: block;
    margin:0 auto;
}

td{
  width: 180px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
}

table{
  margin: 20px 140px;
}

.container{
  margin:0px 250px;
  border: none;
}

#hulkDirec,#captDirect,#ironDirect{
  width: 640px; height: 25px;
  background: white;
  position: relative;
  border-radius: 10px;
  margin:10px auto;
  font-size: 20px;
  text-align: center;
}
#hulkDirec::before,#captDirect::before,#ironDirect::before{
  content: "";
  position: absolute;
  right: 99.8%;
  top: 9px;
  border-top: 5px solid transparent;
  border-right: 9px solid white;
  border-bottom: 5px solid transparent;
}

input,button{
  outline-style:none;
  border-radius: 7px;
  font-size: 15px;
  background-color: #eeebdd;
}
label{
  font-size: 15px;
  font-weight: bold;
}

a{
  margin:0 250px;
  text-decoration: none;
  color: black;
}
